[Unit]
Description=ACME.sh cron job

[Service]
Type=oneshot
User={{ acmesh_localuser }}
Group={{ acmesh_localuser }}
ExecStart={{ acmesh_home }}/acme.sh --cron --home "{{ acmesh_home }}"

[Install]
WantedBy=default.target
