[Unit]
Description={{ job_description }}

[Timer]
Unit={{ job_name }}.service
{% if job_timer_calendar is defined %}
OnCalendar={{ job_timer_calendar }}
{% if job_persistent is defined and job_persistent %}
Persistent=True
{% endif %}
{% else %}
{% if job_timer_onboot is defined %}
OnBootSec={{ job_timer_onboot }}
{% endif %}
{% if job_timer_active is defined %}
OnUnitActiveSec={{ job_timer_active }}
{% endif %}
{% endif %}
{% if job_accuracy is defined %}
AccuracySec={{ job_accuracy }}
{% endif %}
{% if job_randomized_delay is defined %}
RandomizedDelaySec={{ job_randomized_delay }}
{% endif %}
{% if job_fixed_random_delay is defined %}
FixedRandomDelay={{ job_fixed_random_delay }}
{% endif %}

[Install]
WantedBy=multi-user.target