[Unit]
Description={{ job_description }}
After=network.service
OnFailure=status_email_ops@%n.service

[Service]
Type=oneshot
{% if job.__class__.__name__ == 'list' %}
{% for item in job %}
ExecStart={{ item }}
{% endfor %}
{% else %}
ExecStart={{ job }}
{% endif %}
{% if job_timeout is defined %}
TimeoutSec={{ job_timeout }}
{% endif %}
{% if job_user is defined %}
User={{ job_user }}
{% endif %}
{% if job_group is defined %}
Group={{ job_group }}
{% endif %}
{% if job_environment is defined %}
{% if job_environment.__class__.__name__ == 'list' %}
{% for item in job_environment %}
Environment={{ item }}
{% endfor %}
{% else %}
Environment={{ job_environment }}
{% endif %}
{% endif %}
{% if job_working_dir is defined %}
WorkingDirectory={{ job_working_dir }}
{% endif %}

[Install]
WantedBy=multi-user.target
