#!/bin/bash
# {{ ansible_managed }}
# Shortcut for running nextclouds `occ` command when not logged in as {{ nextcloud_user }} user and sudo allows it.
# https://doc.nextcloud.org/server/9.0/admin_manual/configuration_server/occ_command.html

# Environment variable `OC_PASS` is striped normally by `sudo`.
# `--preserve-env` would preserve all environment variables.
# This should be OK for this command.
# It seems to be impossible to set "env_keep" via the command line?
# Other possibility would be to configure it properly via Defaults! /var/www/nextcloud/occ env_keep=OC_PASS


# The occ command should be invoked with PWD set to `nextcloud_home` to avoid occ not finding it’s DB spec:
# https://github.com/nextcloud/core/issues/17583
# It is fixed in 8.2 but lets call `occ` like the documentation suggests it:
# https://doc.nextcloud.org/server/9.0/admin_manual/configuration_server/occ_command.html?highlight=occ#using-the-occ-command
cd {{nextcloud_path}}

# Long command line options seem to be not supported as of 1.8.3 in Ubuntu precise.
# sudo --preserve-env --user '{{ nextcloud_user }}' php --file '/var/www/nextcloud/occ' "$@"

sudo -E -u '{{ nextcloud_user }}' -g '{{ nextcloud_group }}' /usr/local/bin/php-{{ nextcloud_slug }} --define apc.enable_cli=1 --file '{{nextcloud_path}}/occ' "$@"
